<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Создать пользователя</title>
    <script>
        function createClient() {
            const createdClientContainer = document.getElementById('createdClientContainer');
            const params = new URLSearchParams();
            params.append("fullName", document.getElementById('clientNameTextBox').value);
            params.append("address", document.getElementById('addressTextBox').value);
            params.append("phone", document.getElementById('phoneTextBox').value);
            fetch('api/clients', {
                method: "POST",
                body: params
            }).then(response => response.json())
                .then(client => createdClientContainer.innerHTML = JSON.stringify(client));
        }
    </script>
    <title>Пользователи</title>
    <script>
        function getAllClients() {
            const clientDataContainer = document.getElementById('clientDataContainer');
            fetch('api/clients')
                .then(response => response.json())
                .then(clients => clientDataContainer.innerHTML = JSON.stringify(clients, null, 4));
        }
    </script>

</head>

<body>
<h4>Создать клиента</h4>

<h7>ФИО клиента</h7>
<br/>
<input type="text" id="clientNameTextBox" value="Ivan Ivanov" placeholder="Введите ФИО клиента">
<br/>
<h7>Адрес</h7>
<br/>
<input type="text" id="addressTextBox" value="Unnamed street" placeholder="Введите адрес">
<br/>
<h7>Телефон</h7>
<br/>
<input type="text" id="phoneTextBox" value="+71111111111" placeholder="Введите телефон">
<br/>
<button onclick="createClient()">Создать клиента</button>
<pre id="createdClientContainer"></pre>

<button onclick="getAllClients()">Получить список клиентов</button>
<pre id="clientDataContainer"></pre>

</body>
</html>
